$__anth-config-is-ready: false;

$__anth-config: ();
$__anth-config-defaults: (
  'breakpoints': null,
  'separator': '-',
);

$__anth-config-tags: (
  'important-tag': '!',
  'theme-tag': '#',
  'responsive-tag': '@',
);

$__anth-cache: ();
$__anth-cache-defaults: (
  'generic': (),
  'responsive': (),
);
