$__anthology-config-is-ready: false;

$__anthology-config: ();
$__anthology-config-defaults: (
  'breakpoints': null,
  'separator': '-',
);

$__anthology-config-tags: (
  'important-tag': '!',
  'theme-tag': '#',
  'responsive-tag': '@',
);

$__anthology-cache: ();
$__anthology-cache-defaults: (
  'generic': (),
  'responsive': (),
);
