// TODO: Document these mixins

@mixin anth-breakpoint($point)
{
  @if __anth-map-has-key($__anth-config, ('breakpoints', $point))
  {
    $size: __anth-map-get($__anth-config, ('breakpoints', $point));
    @media (min-width: $size) { @content; }
  }

  @else
  {
    @error 'Breakpoint `#{$point}` is not registered by `anth-config(...)`. Please register all breakpoints before using `anth-breakpoint(...)`.';
  }
}

@mixin anth-until-breakpoint($point)
{
  @if __anth-map-has-key($__anth-config, ('breakpoints', $point))
  {
    $size: __anth-map-get($__anth-config, ('breakpoints', $point));
    @media (max-width: $size) { @content; }
  }

  @else
  {
    @error 'Breakpoint `#{$point}` is not registered by `anth-config(...)`. Please register all breakpoints before using `anth-until-breakpoint(...)`.';
  }
}

@mixin anth-between-breakpoints($min-point, $max-point)
{
  $min-size: __anth-map-get($__anth-config, ('breakpoints', $min-point));
  $max-size: __anth-map-get($__anth-config, ('breakpoints', $max-point));
  @media (min-width: $min-size) and (max-width: $max-size) { @content; }
}
