/// Sets the configuration for generating functional properties. The `define-property` mixin will throw if this mixin
/// has not been included prior.
///
/// @param {Map} $config.breakpoints - A map of responsive breakpoints [default: null].
/// @param {String} $config.separator - A string delimiter which appears between each piece of the generated selectors [default: '-'].
@mixin __anthology-config($config: ())
{

  // Assign an empty map to each configured breakpoint
  @each $breakpoint, $value in map-get($config, 'breakpoints')
  {

    $__anthology-cache-defaults: __anthology-map-set(
      $__anthology-cache-defaults,
      ('responsive', $breakpoint),
      ()
    ) !global;

  }

  // Build global objects
  $__anthology-config: __anthology-map-merge($__anthology-config-defaults, $config, $__anthology-config-tags) !global;
  $__anthology-cache: __anthology-map-merge($__anthology-cache-defaults, $__anthology-cache) !global;
  $__anthology-config-is-ready: true !global;

  // Emit metadata
  @at-root -anthology-metadata::before {
    content: __anthology-to-json(( 'config': $__anthology-config ));
  }

}
