/// Sets the configuration for generating functional properties. The `define-property` mixin will throw if this mixin
/// has not been included prior.
///
/// @param {Map} $config.breakpoints - A map of responsive breakpoints [default: null].
/// @param {String} $config.separator - A string delimiter which appears between each piece of the generated selectors [default: '-'].
@mixin -a-config($config: ())
{

  // Assign an empty map to each configured breakpoint
  @each $breakpoint, $value in map-get($config, 'breakpoints')
  {

    $__anth-cache-defaults: __anth-map-set(
      $__anth-cache-defaults,
      ('responsive', $breakpoint),
      ()
    ) !global;

  }

  // Build global objects
  $__anth-config: __anth-map-merge($__anth-config-defaults, $config, $__anth-config-tags) !global;
  $__anth-cache: __anth-map-merge($__anth-cache-defaults, $__anth-cache) !global;
  $__anth-config-is-ready: true !global;

  // Emit metadata
  @at-root -anthology-metadata::before {
    content: __anth-to-json(( 'config': $__anth-config ));
  }

}
