// TODO: Document these mixins

@mixin __anthology-breakpoint($point)
{
  @if A(map-has-key, $__anthology-config, ('breakpoints', $point))
  {
    $size: A(map-get, $__anthology-config, ('breakpoints', $point));
    @media (min-width: $size) { @content; }
  }

  @else
  {
    @error '[anthology::mixin::breakpoint] --- Breakpoint `#{$point}` is not registered by `A(configure, ...)`. Please register all breakpoints before using `A(breakpoint, ...)`.';
  }
}

@mixin __anthology-until-breakpoint($point)
{
  @if A(map-has-key, $__anthology-config, ('breakpoints', $point))
  {
    $size: A(map-get, $__anthology-config, ('breakpoints', $point));
    @media (max-width: $size) { @content; }
  }

  @else
  {
    @error '[anthology::mixin::until-breakpoint] --- Breakpoint `#{$point}` is not registered by `A(configure, ...)`. Please register all breakpoints before using `A(until-breakpoint, ...)`.';
  }
}

@mixin __anthology-between-breakpoints($min-point, $max-point)
{
  $min-size: A(map-get, $__anthology-config, ('breakpoints', $min-point));
  $max-size: A(map-get, $__anthology-config, ('breakpoints', $max-point));
  @media (min-width: $min-size) and (max-width: $max-size) { @content; }
}
