// TODO: Document these mixins

@mixin sf-breakpoint($point)
{
  @if __sf-map-has-key($__sf-config, ('breakpoints', $point))
  {
    $size: __sf-map-get($__sf-config, ('breakpoints', $point));
    @media (min-width: $size) { @content; }
  }

  @else
  {
    @error 'Breakpoint `#{$point}` is not registered by `sf-config(...)`. Please register all breakpoints before using `sf-breakpoint(...)`.';
  }
}

@mixin sf-until-breakpoint($point)
{
  @if __sf-map-has-key($__sf-config, ('breakpoints', $point))
  {
    $size: __sf-map-get($__sf-config, ('breakpoints', $point));
    @media (max-width: $size) { @content; }
  }

  @else
  {
    @error 'Breakpoint `#{$point}` is not registered by `sf-config(...)`. Please register all breakpoints before using `sf-until-breakpoint(...)`.';
  }
}

@mixin sf-between-breakpoints($min-point, $max-point)
{
  $min-size: __sf-map-get($__sf-config, ('breakpoints', $min-point));
  $max-size: __sf-map-get($__sf-config, ('breakpoints', $max-point));
  @media (min-width: $min-size) and (max-width: $max-size) { @content; }
}
