// TODO: Document these mixins

@mixin ant-breakpoint($point)
{
  @if __ant-map-has-key($__ant-config, ('breakpoints', $point))
  {
    $size: __ant-map-get($__ant-config, ('breakpoints', $point));
    @media (min-width: $size) { @content; }
  }

  @else
  {
    @error 'Breakpoint `#{$point}` is not registered by `ant-config(...)`. Please register all breakpoints before using `ant-breakpoint(...)`.';
  }
}

@mixin ant-until-breakpoint($point)
{
  @if __ant-map-has-key($__ant-config, ('breakpoints', $point))
  {
    $size: __ant-map-get($__ant-config, ('breakpoints', $point));
    @media (max-width: $size) { @content; }
  }

  @else
  {
    @error 'Breakpoint `#{$point}` is not registered by `ant-config(...)`. Please register all breakpoints before using `ant-until-breakpoint(...)`.';
  }
}

@mixin ant-between-breakpoints($min-point, $max-point)
{
  $min-size: __ant-map-get($__ant-config, ('breakpoints', $min-point));
  $max-size: __ant-map-get($__ant-config, ('breakpoints', $max-point));
  @media (min-width: $min-size) and (max-width: $max-size) { @content; }
}
