/// Sets the configuration for generating functional properties. The `define-property` mixin will throw if this mixin
/// has not been included prior.
///
/// @param {Map} $config.breakpoints - A map of responsive breakpoints [default: null].
/// @param {String} $config.separator - A string delimiter which appears between each piece of the generated selectors [default: '-'].
@mixin ant-config($config: ())
{

  // Assign an empty map to each configured breakpoint
  @each $breakpoint, $value in map-get($config, 'breakpoints')
  {

    $__ant-cache-defaults: __ant-map-set(
      $__ant-cache-defaults,
      ('responsive', $breakpoint),
      ()
    ) !global;

  }

  // Build global objects
  $__ant-config: __ant-map-merge($__ant-config-defaults, $config, $__ant-config-tags) !global;
  $__ant-cache: __ant-map-merge($__ant-cache-defaults, $__ant-cache) !global;
  $__ant-config-is-ready: true !global;

}
