$__ant-config-is-ready: false;

$__ant-config: ();
$__ant-config-defaults: (
  'breakpoints': null,
  'separator': '-',
);

$__ant-config-tags: (
  'important-tag': '!',
  'theme-tag': '#',
  'responsive-tag': '@',
);

$__ant-cache: ();
$__ant-cache-defaults: (
  'generic': (),
  'responsive': (),
);
