// We manage variables in a global map object, which can be interacted with
// using `_A(get-var, ...)`, `_A(set-var, ...)`, and `_A(var-exists, ...)`.
$_anthology-vars: (
  'config': (),
  'config-defaults': (
    'breakpoints': null,
    'separator': '-',
    'important-tag': '\\\\!',
    'theme-tag': '\\\\#',
    'responsive-tag': '\\\\@',
    'grid-prefix': 'grid',
    'grid-area-prefix': 'area',
    'theme-attr': 'data-theme',
  ),

  'config-is-ready': false,
  'should-block-config': false,
  'metadata-is-emitted': false,

  'define-state': (),
  'define-state-defaults': (
    'generic': (),
    'responsive': (),
  ),

  'emit-state': (
    'generic': (),
    'responsive': (),
  ),

  'extend-silent-generic': false,
  'extend-silent-responsive': false,
);

// For variables that need performant access, we define global shortcuts.
$_anthology-const-separator: null;
$_anthology-const-important-tag: null;
$_anthology-const-theme-tag: null;
$_anthology-const-responsive-tag: null;
$_anthology-const-grid-prefix: null;
$_anthology-const-grid-area-prefix: null;
$_anthology-const-theme-attr: null;

