// Config
$_anthology-config-breakpoints: null;
$_anthology-config-separator: null;
$_anthology-config-important-tag: null;
$_anthology-config-theme-tag: null;
$_anthology-config-responsive-tag: null;
$_anthology-config-grid-prefix: null;
$_anthology-config-grid-area-prefix: null;
$_anthology-config-theme-attr: null;

$_anthology-config-defaults: (
  'breakpoints': null,
  'separator': '-',
  'important-tag': '\\\\!',
  'theme-tag': '\\\\#',
  'responsive-tag': '\\\\@',
  'grid-prefix': 'grid',
  'grid-area-prefix': 'area',
  'theme-attr': 'data-theme',
);

$_anthology-config-is-ready: false;
$_anthology-should-block-config: false;

// Metadata
$_anthology-metadata-is-emitted: false;

// Define state
$_anthology-define-state: ();
$_anthology-define-state-defaults: (
  'generic': (),
  'responsive': (),
);

// Emit state
$_anthology-emit-state: (
  'generic': (),
  'responsive': (),
);

// Extend flags
$_anthology-extend-silent-generic: false;
$_anthology-extend-silent-responsive: false;

